channel/.idea/channel.iml
channel/.idea/misc.xml
channel/.idea/modules.xml
channel/.idea/workspace.xml
channel/.idea/dictionaries/superhaha.xml
channel/.idea/inspectionProfiles/profiles_settings.xml
channel.cpython-36.pyc
practice/.idea/misc.xml
practice/.idea/modules.xml
practice/.idea/practice.iml
practice/.idea/vcs.xml
practice/.idea/workspace.xml
practice/.idea/inspectionProfiles/profiles_settings.xml
practice/__pycache__/__init__.cpython-36.pyc
practice/__pycache__/c2.cpython-36.pyc
weixinlogin_update.py
weixinlogin.py
mysql_test.py
.idea/misc.xml
.idea/modules.xml
.idea/PycharmProjects.iml
.idea/vcs.xml
.idea/workspace.xml
fisherbook/.idea/fisherbook.iml
fisherbook/.idea/misc.xml
fisherbook/.idea/modules.xml
fisherbook/.idea/vcs.xml
fisherbook/.idea/workspace.xml
config.cpython-36.pyc
fisherbook/Pipfile
fisherbook/Pipfile.lock
itchat.pkl
