channel/.idea/channel.iml
channel/.idea/misc.xml
channel/.idea/modules.xml
channel/.idea/workspace.xml
channel/.idea/dictionaries/superhaha.xml
channel/.idea/inspectionProfiles/profiles_settings.xml
channel.cpython-36.pyc
