channel/.idea/channel.iml
channel/.idea/misc.xml
channel/.idea/modules.xml
channel/.idea/workspace.xml
channel/.idea/dictionaries/superhaha.xml
channel/.idea/inspectionProfiles/profiles_settings.xml
channel.cpython-36.pyc
practice/.idea/misc.xml
practice/.idea/modules.xml
practice/.idea/practice.iml
practice/.idea/vcs.xml
practice/.idea/workspace.xml
practice/.idea/inspectionProfiles/profiles_settings.xml
practice/__pycache__/__init__.cpython-36.pyc
practice/__pycache__/c2.cpython-36.pyc
